:root{
    --primary-color: #E08709;
    --secondary-color: #71B100;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-image: url("images/header.jpg");
    background-position: 30% 35%;
    height: 70vh;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

#logo{
    height: 10vh;
    width: 20vw;
    margin: 1% 0% 0% 1%;
}

nav{
    display: flex;
    justify-content: flex-end;
    width: 73vw;
    height: 10vh;
    align-items: center;
}

.item-menu{
    margin-left: 2%;
}

a{
    color: white;
    text-decoration: none;
}

h1{
    align-self: flex-end;
    margin-bottom: 5%;
    margin-left: 3%;
    width: 35vw;
    line-height: 200%;
}

section{
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h2{
    width: 100%;
    text-align: center;
    font-weight: lighter;
    margin-top: 3%;
    font-size: 200%;
}

h3{
    font-size: 150%;
}

.info{
    margin: 5%;
    width: 20%;
    text-align: center;
    line-height: 400%
}

p{
    line-height: 200%;
    width: 100%;
}

.mid-section{
    height: 50vh;
    text-align: left;
    padding-left: 3%;
    align-items: center;
    background-image: url("./images/encuentra.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    justify-content: left;
}

.mid-section h2{
    text-align: left;
}

.mid-section p{
    text-align: left;
}

a{
    display: flex;
    background-color: #E08709;
    color: white;
    height: 10%;
    padding: 0% 1% 0% 1%;
    align-items: center;
    font-weight: 500;
    
}

nav a{
    background-color: transparent;
}

.mid-h2{
    width: 50%;
}

footer{
    display: flex;
    background-color: #333333;
    font-weight: lighter;
    color: white;
    align-items: center;
}

footer nav{
    justify-content: flex-start;
}
footer p{
    text-align: end;
    margin-right: 3%;
}